<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Splash</title>

        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/bootstrap.theme.min.css" />

        <script src="/js/vendor/handlebars-v4.0.5.js"></script>

        <script src="/js/vendor/socket.io.js"></script>
        <script src="/js/vendor/jquery-3.1.1.js"></script>
        <script src="/js/vendor/bootstrap.js"></script>
        <script src="/js/lobby.js"></script>
        <style>
            #game {
                height: 100%; 
                width: 100%;
                min-height:500px;
                min-width:500px;
            }

            #game * {
                max-height: 100%; max-width: 100%;
            }
        </style>
        <script id="playerListTemplate" type="text/x-handlebars-template">
            {{ player-name }} 
            <li class="list-group-item">
                <span id="{{player-id}}>{{player-name}}"></span>
            </li>
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>    
            </div>
            <a class="navbar-brand" href="#">Splashman</a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="player-name">Loading...</a></li>
                </ul>
            </div>  
        </nav>
        <div class="row">
            <div class="col-md-10">
                <div id="game" style=""></div>
            </div>
            <div class="col-md-2">
                <h1 id="lobby-name">Loading...</h1>
                <ul class="list-group" id="players"></ul>
                <button class="btn btn-lg hidden" id="lobby-game-start">Start</button>
            </div>
        </div>

        <script src="/js/vendor/pixi.js"></script>
        <script src="/js/game.js"></script>
    </body>
</html>